<h1 class="h2 pb-2 mb-3 border-bottom">{{title}}</h1>

<form action="index.html" method="post">
  <div class="form-group">
    <label for="description">Description:</label>
    <input
      type="text"
      class="form-control"
      id="description"
      placeholder="{{product.description}}">
  </div>
  <div class="form-group">
    <label for="imgSrc">Imege source:</label>
    <input
      type="text"
      class="form-control"
      id="imgSrc"
      placeholder="{{product.imgSrc}}">
  </div>
  <div class="form-group">

  </div>
</form>
